
.forgot-password-wrapper {
    max-width: 500px;
    text-align: center;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 420px;
    margin-top: 50px;
    }
  
  .form-outline {
    margin-bottom: 20px;
  }
  
  button {
    background-color:crimson;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  